/* mandos/estilos/xbox-360/xbox-360.css */

.cell {
    position: relative;
}

.cell.highlight {
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.7), 0 0 30px rgba(255, 165, 0, 0.5);
    background-color: black;
    z-index: 1;
}
